.nav-tab {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  margin: 211px 0 16px 0;
}

.nav-tab__button {
  color: #fff;
  border-radius: 6px;
  background-color: #303030;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  width: 82px;
  padding: 6px 0;
}

.nav-tab__button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 465px) {
  .nav-tab {
      margin: 315px 0 0 0;
      gap: 10px;
      max-width: 768px;
  }

  .nav-tab__button {
      font-size: 12px;
      width: 96px;
      padding: 10px 0;
      border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .nav-tab {
      margin: 150px 0 0px 0;
  }
}
